.main-chat__chat-header
  .chat-header__group-member
    .chat-header__group-member__group
      = @group.name
    %ul.chat-header__group-member__list
      %li
        Member
        - members = @group.user_ids
        - members.each do |f|
          %li
            - member = User.find(f)
            = member.name
  = link_to "Edit", edit_group_path(params[:group_id]), class: "chat-header__edit"

.main-chat__messages
  =render @messages

.main-chat__form
  =form_for [@group, @message] ,html: { class: "form__box" },remote: true do |f|
    .form__box__top
      =f.text_field :text, class:"form__box__top__text",placeholder:"type a message"
      =f.label :image, class:"form__box__top__image" do
        = icon('fas','image',class:"form__box__top__image__icon")
        = f.file_field :image,class:"form__box__top__image__file"
    =f.submit "Send", class:"form__box__submit"
